a.beyrouth-upload {
    margin-top: 5px !important;
}

a.beyrouth-upload:active {
    background: #eee;
    border-color: #999;
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.toggle-flex .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 5px;
}

.toggle-flex .switch input {display:none;}

.toggle-flex .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-flex .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-flex input:checked + .slider {
    background-color: #2196F3;
}

.toggle-flex input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-flex input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.toggle-flex .slider.round {
    border-radius: 34px;
}

.toggle-flex .slider.round:before {
    border-radius: 50%;
}

hr.space-line {
    margin: 20px 0 15px;
}

label.beyrouth-control-title {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.toggle-flex {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
}

.toggle-flex .flex-inner-wide {
    padding-left: 10px;
}

.slide-detail-wrap > h4 {
    background: #fafafa;
    padding: 10px 10px 10px 15px;
    border-left: 5px solid #2195f3;
}

.beyrouth-switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.beyrouth-switch-field label {
  float: left;
}

.beyrouth-switch-field label {
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 7.5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.beyrouth-switch-field label:hover {
        cursor: pointer;
}

.beyrouth-switch-field input:checked + label {
    background-color: #fdfdfd;
    border-left: 3px solid;
    border-right: 3px solid;
    width: calc(100% - 4px);
    color: #2196F3;
}

.beyrouth-switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.beyrouth-switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.beyrouth-switch-field .choice-wrap {
    position: relative;
    max-width: 100%;
    margin-bottom: 5px;
}

.beyrouth-switch-field .choice-wrap:first-of-type label {
    border-radius: 4px 4px 0 0 !important;
}

.beyrouth-switch-field .choice-wrap:last-of-type label {
    border-bottom: thin solid #b9b9b9;
    border-radius: 0 0 4px 4px !important;
}

.beyrouth-switch-field input + label:before,
.beyrouth-switch-field input + label:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    opacity: 0;
    background-color: #2196F3;
    visibility: hidden;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
}

.beyrouth-switch-field input + label:before {
    top: 0;
}

.beyrouth-switch-field input + label:after {
    bottom: 0;
}

.beyrouth-switch-field input:checked + label:before,
.beyrouth-switch-field input:checked + label:after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.beyrouth-switch-field input:checked + label {
    background-color: #fafafa;
}

/* Widget UI */

.section-header {
    background: #fafafa;
    padding: 10px 10px 10px 15px;
    border-left: 5px solid #2195f3;
}

#available-widgets [class*=beyrouth_simple_cta] .widget-title:before{
    content: "\f506"; 
}
#available-widgets [class*=beyrouth_slider] .widget-title:before{
    content: "\f169";
}
#available-widgets [class*=beyrouth_image_cta] .widget-title:before{
    content: "\f128";
}
#available-widgets [class*=beyrouth_heading] .widget-title:before{
    content: "\f215";
}
#available-widgets [class*=beyrouth_shortcode] .widget-title:before{
    content: "\f475";
}
#available-widgets [class*=beyrouth_faq] .widget-title:before{
    content: "\f223";
}

#available-widgets [class*=beyrouth_simple_cta] .widget-title:before,
#available-widgets [class*=beyrouth_slider] .widget-title:before,
#available-widgets [class*=beyrouth_heading] .widget-title:before,
#available-widgets [class*=beyrouth_shortcode] .widget-title:before,
#available-widgets [class*=beyrouth_image_cta] .widget-title:before,
#available-widgets [class*=beyrouth_image_list] .widget-title:before,
#available-widgets [class*=beyrouth_video_cta] .widget-title:before,
#available-widgets [class*=beyrouth_contact] .widget-title:before,
#available-widgets [class*=beyrouth_events] .widget-title:before,
#available-widgets [class*=beyrouth_faq] .widget-title:before,
#available-widgets [class*=beyrouth_featured_pages] .widget-title:before,
#available-widgets [class*=beyrouth_featured_posts] .widget-title:before,
#available-widgets [class*=beyrouth_features_grid] .widget-title:before,
#available-widgets [class*=beyrouth_features_hero] .widget-title:before,
#available-widgets [class*=beyrouth_hero_image_cta] .widget-title:before,
#available-widgets [class*=beyrouth_hero_video_cta] .widget-title:before,
#available-widgets [class*=beyrouth_icon_cta] .widget-title:before,
#available-widgets [class*=beyrouth_image_grid] .widget-title:before,
#available-widgets [class*=beyrouth_map] .widget-title:before,
#available-widgets [class*=beyrouth_posts] .widget-title:before,
#available-widgets [class*=beyrouth_pricing_table] .widget-title:before,
#available-widgets [class*=beyrouth_services] .widget-title:before,
#available-widgets [class*=beyrouth_testimonials] .widget-title:before {
    color: #2195f3;
}


#available-widgets [class*=beyrouth_simple_cta],
#available-widgets [class*=beyrouth_image_cta],
#available-widgets [class*=beyrouth_image_list],
#available-widgets [class*=beyrouth_heading],
#available-widgets [class*=beyrouth_video_cta],
#available-widgets [class*=beyrouth_shortcode],
#available-widgets [class*=beyrouth_contact],
#available-widgets [class*=beyrouth_events],
#available-widgets [class*=beyrouth_faq],
#available-widgets [class*=beyrouth_featured_pages],
#available-widgets [class*=beyrouth_featured_posts],
#available-widgets [class*=beyrouth_features_grid],
#available-widgets [class*=beyrouth_features_hero],
#available-widgets [class*=beyrouth_hero_image_cta],
#available-widgets [class*=beyrouth_hero_video_cta],
#available-widgets [class*=beyrouth_icon_cta],
#available-widgets [class*=beyrouth_image_grid],
#available-widgets [class*=beyrouth_map],
#available-widgets [class*=beyrouth_posts],
#available-widgets [class*=beyrouth_pricing_table],
#available-widgets [class*=beyrouth_services],
#available-widgets [class*=beyrouth_testimonials],
#available-widgets [class*=beyrouth_slider]{
    background: #f3f3f5;
    border-left: 4px solid #f3f3f5;
}