.beyrouth-module.image-cta .flxbx > div {
    width: 50%;
    align-self: center;
}

.beyrouth-module.image-cta .flxbx.left-align-image > div:first-child {
    padding: 30px;
}

.beyrouth-module.image-cta .flxbx.left-align-text > div:last-child {
    text-align: left;
}

.beyrouth-module.image-cta .flxbx.right-align-image > div:last-child {
    padding: 30px;
}

.beyrouth-module.image-cta .flxbx.left-align-text > div:first-child {
    text-align: left;
}

.beyrouth-module.image-cta h3 {
    margin: 0;
}

.beyrouth-module.image-cta p {
    margin: 15px 0 30px 0;
}

@media (max-width:991px) {
    .beyrouth-module.image-cta .flxbx {
        display: block;
    }
    .beyrouth-module.image-cta .flxbx > div {
        width: 100%;
        padding: 0 !important;
    }
    .beyrouth-module.image-cta .flxbx.left-align-image > div:last-child {
        padding-top: 30px !important;
    }
    .beyrouth-module.image-cta .flxbx.right-align-image > div:first-child {
        padding-bottom: 30px !important;
    }
    .beyrouth-module.image-cta .flxbx img {
        max-width: 75%;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width:767px) {
    .beyrouth-module.image-cta h3 {
        font-size: 1.5em;
    }
    .beyrouth-module.image-cta .flxbx img {
        max-width: 100%;
    }
}
